<div class="row mt-2">
  <h2 class="col-8 border-bottom border-dark">Liste des etudiants</h2>
  <a routerLink="/addetudiants" class="btn btn-success col-1 p-2 shadow mr-2">
    <img src="../../assets/img/plus.png" alt="Ajouter">
  </a>
</div>
<div class="row mt-5">
  <div *ngFor="let student of etudiants" class="col-md-3 offset-md-4 shadow-sm student-box">
    <a routerLink="/details/{{ student.id }}">
      <div class="row">
        <div class="img-student col-sm-6 text-right">
          <img src="{{ student.img}}" alt="Image de profil">
        </div>
        <div class="info-student col-sm-6 mt-3">
          <p>{{ student.name }} {{ student.firstname }}</p>
        </div>
      </div>

    </a>
  </div>
</div>
