<header class="col-md-12 header">
  <div class="row">
    <div class="col-md-2">
      <h1>Dashboard Student</h1>
    </div>
    <div class="col-md-10"></div>
  </div>
</header>


<div class="row">

  <div class="col-md-2 col-sm-4 navigate shadow">
      <a routerLink="/etudiants" class="link text-center">
        <img src="../assets/img/student.png" alt="Etudiants">
        <p class="small link-text"> Etudiants</p>
      </a>
      <a routerLink="/tirageausort" class="link text-center">
        <img src="../assets/img/sort.png" alt="Tirage au sort">
        <p class="small link-text"> Tirage au sort</p>
      </a>
  </div>

  <div class="col-md-10 col-sm-8 content">
    <router-outlet></router-outlet>
  </div>

</div>
